body {
  background-color: #ECF2F6;
  color: #404040;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
}



.header-container {
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #ccc;
  overflow: auto;
  margin-left: 250px;
  padding: 10px 15px;
}



.sidebar-container {
  background-color: #354051;
  box-sizing: border-box;
  /*font-family: Lato, 'Helvetica Neue', Arial, sans-serif;*/
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
}
  .sidebar-container section {
    padding: 20px;
    border-top: 1px solid #49586f;    /* lighter */
    border-bottom: 1px solid #2a3341; /* darker */
  }
    .sidebar-container section:first-child { border-top: none; }
    .sidebar-container section:last-child  { border-bottom: none; }
  .sidebar-container h1 {
    font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
    color: #eee;
    font-size: 2em;
  }
  .sidebar-container h3 {
    color: #66748C; /* TODO: this blends in too much */
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .tag-container {
    overflow: auto;
    margin-bottom: 15px;
  }
    .tag-container .checkbox {
      background-color: red; /*TODO*/

      border-radius: 3px;
      float: left;
      font-size: 1.1em;
      line-height: 20px;
      margin-right: 10px;
      position: relative;
      text-align: center;
      width: 20px;
      height: 20px;
    }
      .tag-container .checkbox.checked:before {
        content: '\2713';
        color: white;
      }
    .tag-container span {
      color: #9BA6B9;
      /*display: inline-block;*/
      float: left;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 18px;
      text-transform: uppercase;
    }



.main-content-container {
  margin-left: 250px;
  float: left;
  padding: 20px;
}

.task {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}
  .task-filename {
    font-size: 1.2em;
    font-weight: bold;
  }
  .task-lines-container {
    border: 1px solid #ccc;
  }
    .task-line-container {
      /*TODO: clearfix*/
      background-color: #f5f5f5;
      border-bottom: 1px solid #ccc;
      font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
      font-size: 0.9em;
      overflow: auto;
    }
      .task-line-container:nth-of-type(even) { background-color: #ebf8ff; }

      .task-line-container:last-child { border-bottom: 0; }

      .task-line-num {
        border-right: 1px solid #ccc;
        float: left;
        margin-right: 10px;
        padding: 5px 10px;
      }
      .task-line {
        float: left;
        padding: 5px;
        /*TODO: overflow*/
        /*overflow-x: scroll;*/
      }







/*
 yellow: FED432
 light blue: 35B0FC
 fuschia: E62163
 jade: 19A98A
*/





.search-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: auto;
  padding: 5px 10px 4px;
  float: right;
  width: 200px;
}
  .search-container .icon-container {
    overflow: auto;
    float: left;
    margin-right: 1%;
    width: 5%;
  }
    .search-container .icon-container img {
      display: inline-block;
      margin-top: 2px;
    }
  .search-container input {
    border: 0;
    float: left;
    margin-top: 1px;
    width: 89%;
  }
    .search-container input:focus { outline: none; }


.stats-container {
  outline: 1px solid red;
  margin-bottom: 20px;
}
