body {
  background-color: #ECF2F6;
  color: #404040;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
}

.btn {
  border: 0;
  border-radius: 2px;
  color: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
  .btn-block { display: block; }
  .btn-lightgreen { background-color: #19A98A; }
    .btn-lightgreen:hover { background-color: #169378; }
  .btn-blue { background-color: #35B0FC; }
    .btn-blue:hover { background-color: #13a3fb; }




.header-container,
.main-content-container {
  box-sizing: border-box;
  margin-left: 250px;
}







.header-container {
  background-color: white;
  border-bottom: 1px solid #ccc;
  overflow: auto;
  padding: 10px 15px;
}
  .root {
    color: #b0b0b0;
    float: left;
    font-size: 1.1em;
    margin-top: 7px;
  }
    .root span {
      font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
      font-size: 1em;
    }



.sidebar-container {
  background-color: #354051;
  box-sizing: border-box;
  /*font-family: Lato, 'Helvetica Neue', Arial, sans-serif;*/
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
}
  .sidebar-container section {
    padding: 20px;
    border-top: 1px solid #49586f;    /* lighter */
    border-bottom: 1px solid #2a3341; /* darker */
  }
    .sidebar-container section:first-child { border-top: 0; }
    .sidebar-container section:last-child  { border-bottom: 0; }
  .sidebar-container h1 {
    font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
    color: #eee;
    font-size: 2em;
  }
  .sidebar-container h3 {
    color: #7a889e;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .flags-container { margin-bottom: 25px; }
  .flag-container {
    margin-bottom: 15px;
    overflow: auto;
    position: relative;
  }
    .flag-container:last-child { margin-bottom: 0; }
    .flag-container:hover { cursor: pointer; }
    .flag-container .delete-flag-btn {
      color: #f9f9f9;
      display: none;
      float: right;
      margin-top: 5px;
      text-decoration: none;
    }
      .flag-container:hover .delete-flag-btn { display: inline-block; }
      .flag-container .delete-flag-btn:hover { color: #ccc; }
    .flag-container .checkbox {
      border-radius: 3px;
      float: left;
      font-size: 1.1em;
      line-height: 20px;
      margin-right: 10px;
      position: relative;
      text-align: center;
      width: 20px;
      height: 20px;
    }
      .flag-container .checkbox.checked:before {
        content: '\2713'; /* Unicode checkmark */
        color: white;
      }
    .flag-container span {
      color: #9BA6B9;
      float: left;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 18px;
      text-transform: uppercase;
    }
  .add-flag-container {
    margin-bottom: 25px;
    overflow: auto;
  }
    .add-flag, .add-flag-btn {
      box-sizing: border-box;
      float: left;
    }
    .add-flag {
      border: 0;
      border-radius: 2px;
      margin: 0 5% 0 0;
      padding: 10px 7px;
      width: 75%;
    }
    .add-flag-btn {
      margin: 0;
      width: 20%;
    }
  .filter-btn { font-size: 1.2em; }


.main-content-container { padding: 20px; }

.tasks-container {}

.empty-tasks-container,
.loading-container {
  margin-top: 30px;
  font-size: 2em;
  text-align: center;
    color: #757575;
}

.task-filename {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 15px;
}

.task {
  background-color: white;
  margin-bottom: 20px;
}
  .task-header {
    background-color: #354051;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    overflow: auto;
  }
    .task-type, .task-info {
      box-sizing: border-box;
      padding: 12px 10px;
    }
    .task-type {
      color: white;
      float: left;
      font-size: 1.4em;
      font-weight: bold;
      text-align: center;
      width: 10%;
      /*width: 20%;*/

      /* TODO: probably going to want to bound this at 10%
       * and create a separate item for each flag in the line?
       *
       * or maybe just bound at 10% and keep existing solution
       * because multiple matches is unlikely?
       */
    }
    .task-info {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 90%;
      /*width: 80%;*/
    }
    .task-author {
      font-size: 1.2em;
    }
    .task-sha {
      color: #cfcfcf;
      display: inline-block;
      font-size: 0.9em;
      margin-left: 15px;
    }
    .task-date {
      display: inline-block;
      font-size: 1.1em;
      margin-top: 2px;
      float: right;
    }
  .task-body {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: auto;
    padding: 10px;
    padding-right: 0;
  }
    .task-lines-container, .task-toggle-container {
      box-sizing: border-box;
      float: left;
    }
    .task-lines-container {
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      display: block;
      font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
      overflow-x: scroll;
      width: 95%;
    }
      .task-line-container {
        overflow: auto;
        border-bottom: 1px dashed #dedede;
      }
        .task-line-container:first-child { border-bottom: 0; }
        .task-line-container:last-child { border-bottom: 0; }
        .task-line, .task-line-num {
          box-sizing: border-box;
          display: inline-block;
          float: left;
        }
        .task-line-num {
          border-right: 1px solid #ccc;
          color: #808080;
          font-size: 0.9em;
          padding: 4px 5px 4px 0;
          text-align: right;
          width: 3%;
        }
        .task-line {
          padding: 4px 4px 4px 7px;
          width: 97%;
        }
          .task-line strong { font-weight: bold; }
      .task-context {
        border-top: 1px dashed #dedede;
        display: none;
      }
    .task-toggle-container {
      text-align: center;
      width: 5%;
    }
      .task-toggle-container i {
        font-size: 2em;
        margin-top: -2px;
      }
        .task-toggle-container i:hover { cursor: pointer; }









.search-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  float: right;
  overflow: auto;
  padding: 5px 10px 4px;
  width: 200px;
}
  .search-container input { border: 0; }
    .search-container input:focus { outline: 0; }





.stats-container {
  outline: 1px solid red;
  margin-bottom: 20px;
}

.chart {
  max-width: 200px;
}










.bg-purple        { background-color: #A620D6; }
.color-purple     { color: #A620D6; }
.bg-orange        { background-color: #F2A20C; }
.color-orange     { color: #F2A20C; }
.bg-lightblue     { background-color: #35B0FC; }
.color-lightblue  { color: #35B0FC; }
.bg-fuschia       { background-color: #E62163; }
.color-fuschia    { color: #E62163; }
.bg-lightgreen    { background-color: #19A98A; }
.color-lightgreen { color: #19A98A; }
.bg-green         { background-color: #178F35; }
.color-green      { color: #178F35; }
.bg-blue          { background-color: #0081c2; }
.color-blue       { color: #0081c2; }
.bg-pink          { background-color: #E890D3; }
.color-pink       { color: #E890D3; }
.bg-turquoise     { background-color: #17BDB4; }
.color-turquoise  { color: #17BDB4; }
.bg-deepred       { background-color: #BD1720; }
.color-deepred    { color: #BD1720; }
