

<div class="header-container">

  <p class="root">Searching in: <span><%= Notes.root %></span></p>

  <div class="search-container">
    <input id="search" type="text" placeholder="Search..." />
  </div>

</div><!-- .header-container -->



<div class="sidebar-container">
  <section>
    <h1>Notes::Web</h1>
  </section>

  <section>
    <h3>Flags</h3>

    <div class="flags-container">
      <!--
      <div class="flag-container">
        <div class="checkbox checked color-purple"></div> <span>TODO</span>
        <a href="#" class="delete-flag-btn">&times;</a>
      </div>
      -->
    </div>

    <a class="btn btn-block btn-lightgreen filter-btn" href="#">Filter</a>

  </section>
</div><!-- .sidebar-container -->



<div class="main-content-container">

  <!--
  <div class="stats-container">
    <div class="chart"></div>
  </div>
  -->

  <div class="content-container">
  </div>

</div><!-- .main-content-container -->
