<div class="header-container">
  <p class="root">Searching in: <span><%= Notes.root %></span></p>

  <div class="search-container">
    <input id="search" type="text" placeholder="Search..." />
  </div>
</div><!-- .header-container -->



<div class="sidebar-container">
  <section>
    <h1>Notes::Web</h1>
  </section>

  <section>
    <h3>Flags</h3>

    <div class="flags-container"></div>

    <div class="add-flag-container">
      <input type="text" class="add-flag" placeholder="Add a flag..." />
      <input type="submit" class="btn btn-blue add-flag-btn" value="Add"/>
    </div>

    <a class="btn btn-block btn-lightgreen filter-btn" href="#">Filter</a>

    <a class="restore-defaults-btn" href="#">Restore defaults</a>

  </section>
</div><!-- .sidebar-container -->



<div class="main-content-container"></div>
