<div class="row">

  <div class="span-4">
    <div class="sidebar-container">
      hello
    </div>
  </div>

  <div class="span-12">
    <div class="content-container">

      <%# TODO: filename might be separate from the filename contained in each task. How to unify? %>
      <% @tasks.each do |filename, tasks| %>
        <div class="task">
          <h3 class="task-filename"><%= filename %></h3>

          <div class="task-lines-container">
            <% tasks.each do |task| %>
              <div class="task-line-container">
                <div class="task-line-num"><%= task.line_num.to_s.rjust(2, '&nbsp;') %></div>
                <div class="task-line"><%= task.line %></div>
              </div>
            <% end %>
          </div>
        </div><!-- .task -->
      <% end %>

    </div>
  </div>

</div>
