<div class="header-container">

  <div class="search-container">
    <%#<div class="icon-container">x</div>%>
    <input type="text" placeholder="Search..." />
  </div>

</div><!-- .header-container -->



<div class="sidebar-container">
  <section>
    <h1>Notes::Web</h1>
  </section>

  <section>
    <h3>Tags</h3>

    <div class="tag-container">
      <div class="checkbox checked"></div> <span>TODO</span>
    </div>

    <div class="tag-container">
      <div class="checkbox"></div> <span>FIXME</span>
    </div>

    <div class="tag-container">
      <div class="checkbox checked"></div> <span>OPTIMIZE</span>
    </div>
  </section>
</div><!-- .sidebar-container -->



<div class="main-content-container">
  <div class="stats-container">
    stats here
  </div>


  <div class="content-container">

    <%# TODO: filename might be separate from the filename contained in each task. How to unify? %>
    <% @tasks.each do |filename, tasks| %>
      <div class="task">
        <h2 class="task-filename"><%= filename %></h2>

        <div class="task-lines-container">
          <% tasks.each do |task| %>
            <div class="task-line-container">
              <div class="task-line-num"><%= task.line_num.to_s.rjust(2, ' ') %></div>
              <div class="task-line"><%= task.line %></div>
            </div>
          <% end %>
        </div>
      </div><!-- .task -->
    <% end %>

  </div><!-- .content-container -->
</div><!-- .main-content-container -->
