

<div class="header-container">

  <p class="root">Searching in: <span><%= Notes.root %></span></p>

  <div class="search-container">
    <input id="search" type="text" placeholder="Search..." />
  </div>

</div><!-- .header-container -->



<div class="sidebar-container">
  <section>
    <h1>Notes::Web</h1>
  </section>

  <section>
    <h3>Tags</h3>

    <div class="tag-container">
      <div class="checkbox checked color-purple"></div> <span>TODO</span>
      <a href="#" class="delete-tag-btn">&times;</a>
    </div>

    <div class="tag-container">
      <div class="checkbox checked color-lightblue"></div> <span>FIXME</span>
      <a href="#" class="delete-tag-btn">&times;</a>
    </div>

    <div class="tag-container">
      <div class="checkbox checked color-fuschia"></div> <span>OPTIMIZE</span>
      <a href="#" class="delete-tag-btn">&times;</a>
    </div>

    <div class="tag-container">
      <div class="checkbox checked color-lightgreen"></div> <span>FINDME</span>
      <a href="#" class="delete-tag-btn">&times;</a>
    </div>

    <div class="tag-container"><div class="checkbox checked color-orange"></div> <span>BLANK</span></div>
    <div class="tag-container"><div class="checkbox checked color-green"></div> <span>BLANK</span></div>
    <div class="tag-container"><div class="checkbox checked color-blue"></div> <span>BLANK</span></div>
    <div class="tag-container"><div class="checkbox checked color-pink"></div> <span>BLANK</span></div>
    <div class="tag-container"><div class="checkbox checked color-turquoise"></div> <span>BLANK</span></div>
    <div class="tag-container"><div class="checkbox checked color-deepred"></div> <span>BLANK</span></div>

  </section>
</div><!-- .sidebar-container -->



<div class="main-content-container">

  <% if !@tasks.empty? %>
    <div class="stats-container">
      <div class="chart"></div>
    </div>
<% end %>


  <div class="content-container">
    <% if @tasks.empty? %>

      <div class="empty-tasks-container">
        <h2>No tasks found! Good job!</h2>
      </div>

    <% else %>

      <div class="tasks-container"></div>

    <% end %>
  </div><!-- .content-container -->

</div><!-- .main-content-container -->
