<!doctype html>
<html>
<head>
  <title>Notes::Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link href="<%= @root %>/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="<%= @root %>/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="<%= @root %>/javascripts/application.js"></script>
</head>
<body>

  <%= yield %>

</body>
</html>
